:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li, ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

body {
  background-color: black;
}

.container-sm {
  width: 500px;
  margin: 0 auto;
}

.container-lg {
  width: 1000px;
  margin: 0 auto;
}

.formSection {
  padding: 50px 0;
}
.container > h2 {
  text-align: center;
  color: white;
}
.formWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.formWrapper > input,
.formSelect {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
}

.btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(129, 255, 97, 0.664);
  cursor: pointer;
}
.btnRemove {
  background-color: rgba(255, 0, 0, 0.664);
  color: white;
}

.btnUpdate {
  background-color: rgba(0, 38, 255, 0.664);
  color: white;
}

.listMessage {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.posts .card {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formTextArea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  resize: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  color: white;
  text-align: center;
  font-size: 38px;
}


.formTagLabel {
  display: flex;
  align-items: center; 
}

.formTagInput {
  margin-right: 8px; 
}

.formTagsTitle {
  margin-bottom: 10px;
}

.publishedLabel {
  display: flex;
  align-items: center;
}

.publishedInput {
  margin-left: 8px; 
}
